html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

main {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 4rem;
  text-align: center;
  max-width: 90vw;
}

.traning_menu {
  font-size: 3rem;
  text-align: center;
  display: block;
}

.traning_description {
  font-size: 2rem;
  text-align: center;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.share_button_container {
  align-items: center;
  justify-content: center;
  display: flex;
}

.share_button {
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  margin-right: 10px;
}

.share_image {
  display: block;
}

.twitter_share_button {
  display: block;
}

.load_selector {
  font-size: 2.5rem;
  align-items: center;
}

.load_selector_input {
  width: 80%;
  align-items: center;
}

.lottery_button {
  width: 50%;
  font-size: 2rem;
  align-items: center;
}